@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 text-gray-900;
  }
}
@layer components {
  .name {
    text-transform: uppercase;
    font-size: calc((24 / 16) * 1rem);
    letter-spacing: 0.3em;
  }
}
