@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(17.76% 0 0);
    --background-light: oklch(21.78% 0 0);
    --text-body: 17 24 39;
  }

  body {
    @apply text-[rgb(var(--text-body))] bg-[rgb(var(--background))] font-sans;
    --gradient: radial-gradient(circle, #e5e5e5 0%, #fff 100%);
  }
}
@layer components {
  .name {
    text-transform: uppercase;
    font-size: calc((24 / 16) * 1rem);
    letter-spacing: 0.3em;
  }
  .title-text {
    @apply flex items-center gap-4 justify-center w-full;
  }
  .title-sub {
    @apply relative w-fit overflow-hidden mt-3;
  }
  .section-padding {
    @apply px-5 md:px-10 md:mt-40 mt-20;
  }
 

  .cta-wrapper {
    @apply inline-block relative z-20; 
  }

  .cta-button {
    @apply px-4 py-4 rounded-lg bg-white flex items-center justify-center relative cursor-pointer overflow-hidden transition-colors duration-500;
  }
  .cta-button:hover {
    @apply bg-black-100;
  }
  .cta-button .bg-circle {
    @apply absolute -right-8 top-1/2 -translate-y-1/2 w-[120%] h-[120%] rounded-full transition-all duration-500;
  }

  .arrow-wrapper {
    @apply w-10 h-10 rounded-full flex items-center justify-center relative overflow-hidden;
    img {
        @apply size-5 xl:-translate-y-32 translate-y-0 animate-bounce;
      }
  }
  .arrow-wrapper:hover img {
    @apply size-5 xl:-translate-y-32 translate-y-0 animate-bounce translate-y-0 transition-all duration-500
  }

  .bg-circle {
    @apply absolute -right-10 origin-center top-1/2 -translate-y-1/2 
        w-[120%] h-[120%] group-hover:size-10 group-hover:right-6
        rounded-full bg-white transition-all duration-500;
  }

  .text {
    @apply uppercase md:text-lg text-black transition-all duration-500
         group-hover:-translate-x-5 xl:translate-x-0 -translate-x-5 pl-2;
  }

  .card-border {
    @apply border border-black-50 bg-balck-200;
  }

  .exp-card-wrapper {
    @apply flex flex-col-reverse xl:flex-row xl:gap-10 gap-10 justify-between;
  }
  .exp-badge {
    @apply bg-gray-900 py-2 px-4 rounded-full w-fit text-sm md:text-base text-nowrap;
  }

  /* .text {
    @apply uppercase md:text-lg text-black transition-all duration-500
        group-hover:bg-white group-hover:-translate-x-5 xl:translate-x-0 -translate-x-5;
  } */

 

  .timeline-wrapper {
    @apply absolute top-0 xl:left-[28vw] md:left-10 left-5 h-full flex justify-center;
  }

  .timeline {
    @apply absolute z-30 h-[110%] -top-10 w-14 md:w-28 bg-black;
  }

  .timeline-logo {
    @apply md:size-20 size-10 flex-none rounded-full flex justify-center items-center md:-translate-y-7 border border-black-50 bg-black-100;
  }
}
form {
  label {
    @apply block text-white mb-2;
  }

  input,
  textarea {
    @apply w-full px-4 py-4 md:text-base text-sm placeholder:text-blue-50 bg-gray-900 rounded-md;
  }

  a {
    @apply w-full py-4 bg-white text-black font-semibold rounded-md flex justify-center items-center gap-2;

    img {
      @apply inline-block;
    }
  }
}

.gradient-line {
  width: 2px;
  background: linear-gradient(
    0deg,
    rgba(69, 222, 196, 0) 0%,
    #62e0ff 25%,
    #52aeff 37.51%,
    #fd5c79 62.83%,
    #6d45ce 92.91%
  );
}

.gradient-edge:nth-of-type(1) {
  left: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.gradient-edge:nth-of-type(2) {
  right: 0;
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.card {
  --start: 0;
  position: relative;
  z-index: 40;
  overflow: hidden;
  transition: border-color 1s ease-in-out;
}

.card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  border: 2px solid transparent;
  background: var(--gradient);
  background-attachment: fixed;
  mask: linear-gradient(#0000, #0000),
    conic-gradient(
      from calc((var(--start) - 15) * 1deg),
      #ffffff1f 0deg,
      white,
      #ffffff00 100deg
    );
  mask-composite: intersect;
  mask-clip: padding-box, border-box;
  opacity: 0;
  transition: 0.5s ease;
}

.glow {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(10px);
  filter: saturate(200);
}

.card:hover::before {
  opacity: 1;
}

.socials {
      @apply flex items-center justify-center gap-5;

      .icon {
        @apply border border-black-50 bg-black-100 flex justify-center items-center rounded-xl size-10 md:size-12 cursor-pointer transition-all duration-500 hover:bg-black-50;
      }

      img {
        @apply inline-block;
      }
    }